/* Created by: Yuri G
* Created on: March 2023
* This file contains the CSS for index.html
*/
/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/

.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15;
  padding-right: 15;
  padding-top: 15;
}

.page-content {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25;
}
.img {
  float: right;
}

body {
  background-color: white;
}
